{% extends "base.html" %}
{% block title %}Об авторе{% endblock title %}
{% block content %}
  <div class="container py-3">
    <p>Yatube -- это блог-платформа, разработанная мной в рамках учебного 
    проекта Практикума.</p>
    <p>Стак: Python, Django, фронт в основном на bootstrap, база -- sqlite.</p>
    <p>Вы можете публиковать записи (даже более 
    280 символов), создавать группы, комментировать, спорить и конечно 
    же фоловить друг друга. Всё это абсолютно бесплатно и без цензуры 
    (пока pythoneverywhere не положит сайт). Наслаждайтесь, друзья!</p>
    <p>P.S. Если что-то поломается или увидете жука (bug) -- пишите.</p>
  </div>
  <div class="text-center"><img calss="rounded" src="https://i.gifer.com/3aJ.gif" alt="Image"/></div>
{% endblock content %}