{% extends "base.html" %}
{% block title %}
  {{ group.title }}
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>{{ group.title }}</h1>
    <p class="mb-0">{{ group.description|linebreaksbr }}</p>
    {% if user.is_authenticated and user == group.creator %}
      <a class="btn btn-secondary mt-2"
        href="{% url 'posts:group_edit' group.slug %}"
        role="button">Редактировать группу</a>
       
        <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#DeleteModal">
          Удалить группу
        </button>
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Вы уверены, что хотите удалить группу {{ group.title }}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                <a class="btn btn-danger"
                  href="{% url 'posts:group_delete' group.slug %}"
                  role="button">Да, удалить</a>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
    {% include "posts/includes/feed.html" %}
    {% include "posts/includes/paginator.html" %}
  </div>
{% endblock content %}
